# Rules for USBmount -*- conf -*-

KERNEL=="sd*", ENV{ID_FS_USAGE}=="filesystem", DRIVERS=="sbp2",   ACTION=="add",    RUN+="/bin/systemctl start usbmount@%k.service"
KERNEL=="sd*", ENV{ID_FS_USAGE}=="filesystem", SUBSYSTEMS=="usb", ACTION=="add",    RUN+="/bin/systemctl start usbmount@%k.service"
KERNEL=="ub*", ENV{ID_FS_USAGE}=="filesystem", SUBSYSTEMS=="usb", ACTION=="add",    RUN+="/bin/systemctl start usbmount@%k.service"
KERNEL=="sd*", ENV{ID_FS_USAGE}=="filesystem", SUBSYSTEMS=="usb", ACTION=="remove", RUN+="/bin/systemctl stop  usbmount@%k.service"
KERNEL=="ub*", ENV{ID_FS_USAGE}=="filesystem", SUBSYSTEMS=="usb", ACTION=="remove", RUN+="/bin/systemctl stop  usbmount@%k.service"
